* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.act-time {
  display: block;
  width: 300px;
  margin: 30px 0;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0px 65px 5px rgba(207, 207, 207, 0.3);
  border-radius: 20px;
}

.canvas {
  width: 70%;
  transition: 0.5s all;
}

@media screen and (max-width: 1000px) {
  .canvas {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .canvas {
    width: 100%;
    transform: rotate(90deg);
    margin: 105px 0 20px 0;
  }
}
